# AIUnblock RU - Пример пользовательских шлюзов Smart DNS
# Чтобы добавить собственные IPv4-шлюзы, переименуйте этот файл в 'proxies.override'
# Каждая строка должна содержать ровно один IPv4 адрес.
# Пример:
# 192.168.1.100
# 45.155.204.190
